@import 'tailwindcss';
@import '@nuxt/ui';
@import './fonts.css';


/* Why set here?
 * Cannot set theme primary color to black in ui theme config
 * It must be set here instead.
 * This is due to black not having shades.
 */
:root {
  --ui-primary: black;
}

.dark {
  --ui-primary: white;
}

@theme {
  --font-sans: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

